{% load static %}

<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>RoomFinder</title>
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}">
</head>
<body>
    <header>
      <p><img src="{% static "hsLogo.png" %}" alt="HsLogo"/></p>
      <h1 class="mainLine">RoomFinder</h1>
    </header>
    <form action="" method="get">
       <section>
        <fieldset>
          <legend>Gebäude</legend>
            <table>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> </td>
                    <td> <input onclick="allBuildingsSelected()" id="allBuildings" type="checkbox" >Alle Gebäude </input> </td>
                </tr>
                <tr>
                    <td><input onclick="oneBuildingDeselected('buildingA')" id="buildingA" type="checkbox" name="A"> A  </input> </td>
                    <td> <input onclick="oneBuildingDeselected('buildingB')" id="buildingB" type="checkbox" name="B"> B </input> </td>
                    <td> <input onclick="oneBuildingDeselected('buildingC')" id="buildingC" type="checkbox" name="C">C </input> </td>
                </tr>
                <tr>
                    <td> <input onclick="oneBuildingDeselected('buildingD')" id="buildingD" type="checkbox" name="D"> D  </input>  </td>
                    <td> <input onclick="oneBuildingDeselected('buildingE')" id="buildingE" type="checkbox" name="E"> E </input>  </td>
                    <td> <input onclick="oneBuildingDeselected('buildingF')" id="buildingF" type="checkbox" name="F">F </input>  </td>
                </tr>
                <tr>
                    <td> <input onclick="oneBuildingDeselected('buildingG')" id="buildingG" type="checkbox" name="G"> G  </input> </td>
                    <td> <input onclick="oneBuildingDeselected('buildingH')" id="buildingH" type="checkbox" name="H"> H </input> </input> </td>
                    <td> <input onclick="oneBuildingDeselected('buildingJ')" id="buildingJ" type="checkbox" name="J">J </input> </td>
                </tr>
                <tr>
                    <td> <input onclick="oneBuildingDeselected('buildingKLM')" id="buildingKLM" type="checkbox" name="KLM"> KLM  </input> </td>
                    <td> <input onclick="oneBuildingDeselected('buildingN')" id="buildingN" type="checkbox" name="N"> N </input> </td>
                    <td> <input onclick="oneBuildingDeselected('buildingP')" id="buildingP" type="checkbox" name="P">P </input> </td>
                </tr>
                <tr>
                    <td> <input onclick="oneBuildingDeselected('buildingR')" id="buildingR" type="checkbox" name="R"> R  </input> </td>
                    <td> <input onclick="oneBuildingDeselected('buildingW')" id="buildingW" type="checkbox" name="W"> W </input> </td>
                </tr>
            </table>
        </fieldset>
        {% if noBuilding %}
          <p class="errorLine">
            Bitte mindestens ein Gebäude auswählen!
          </p>
        {% endif %}
      </section>
      <section>
        <fieldset>
          <legend>Stockwerk</legend>
            <table>
                <tr>
                    <td> </td>
                    <td> </td>
                    <td> <input id="allLevel" type="checkbox" onclick="allLevelSelected()"> Alle Stockwerke </input> </td>
                </tr>
                <tr>
                    <td> <input onclick="oneLevelDeselected('firstLevel')" id="firstLevel" type="checkbox" name="level1"> Erster Stock  </input>  </td>
                    <td> <input onclick="oneLevelDeselected('secondLevel')" id="secondLevel" type="checkbox" name="level2"> Zweiter Stock </input>  </td>
                </tr>
                <tr>
                    <td> <input onclick="oneLevelDeselected('thirdLevel')" id="thirdLevel" type="checkbox" name="level3"> Dritter Stock </input>  </td>
                    <td> <input onclick="oneLevelDeselected('fourthLevel')" id="fourthLevel" type="checkbox" name="level4" /> Vierter Stock  </td>
                </tr>
            </table>
        </fieldset>
        {% if noLevel %}
          <p class="errorLine">
            Bitte mindestens ein Stockwerk auswählen!
          </p>
        {% endif %}
      </section>
      <p>
        Datum und Uhrzeit: <input type="datetime-local" name="bdaytime" value="{{ year }}-{{ month }}-{{ day }}T{{ hour }}:{{ minute }}:00">
      </p>
      {% if wrongDateTime %}
        <p class="errorLine">
            Bitte das Datum und die Uhrzeit in der Form yyyy-mm-ddThh:mm:00 eintragen!
        </p>
      {% endif %}
      <p>
        <input type="submit" value="Freie Räume suchen">
      </p>
    </form>
</body>
</html>

<script src="{%  static "functions.js" %}"></script>