p, h1 {
 text-align: center;
}

legend {
    margin-left: calc(48%);
    border: 1px solid black;
}

fieldset {
    margin-left: calc(4%);
    margin-right: calc(4%);
}

section {
    padding: 1%;
}

table {
    width: 100%;
    margin-left: 4%;
}

input[type="submit"] {
    padding: 1%;
    border-radius: 6px;
}

.errorLine {
    color: red;
}